* {
	margin: 0;
}

html {
    
    font-size: 16px;
	overflow-x: hidden;
    overflow-y: scroll;
    height:100%;
    margin: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+67,1414ff+88 */
    background: #FFFFFF; /* Old browsers */

}

body{
	 height:100%;
}

.BodyWrap{
   padding-top: 3.5em;
    height: 100%;
}

.Nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width:100%;
    background-color: rgba(180, 0, 0, 1.0);
    position: fixed;
    z-index: 10000;
}

li {
    float: left;
}

.NavButton{
	display: inline-block;
	width: 100%;
	color: #FFFFFF;
	font-family: "Arial";
	font-size:1.20em;
	text-align: center;
	text-decoration: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 2.0em;
    height: auto;
}

.NavButton:hover, .NavButton:active {

}

.NavFloatLeft{
	float:left;
}

.NavFloatRight{
	float:right;
}

.TopLeftTitle{
	display: block;
	width: 100%;

	color: #FFFFFF;
	font-family: "Arial";
	font-size:1.7em;
	text-decoration: none;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left:0.5em;
    height: auto;
}


@media screen and (max-width: 800px) {
	.NavFloatRight{
        display: none;   
        float:none;
    }
    .ThreeBar{
        width: 2.0em;
        display: block;
        color: #FFFFFF;
        float:right;
        margin-top: 0.5em;
        margin-right: 1em;
        font-weight: bold;
    }
    li{
        display: block;
        float: none;   

        animation: slidein 0.5s;
        animation-timing-function: ease-out;
    }
    
    @-webkit-keyframes slidein {
        from {
            max-height: 0px;
        }

        to {
            max-height: 15em;
        }
    }
    @moz-keyframes slidein {
        from {
            max-height: 0px;
        }

        to {
            max-height: 15em;
        }
    }
    @o-keyframes slidein {
        from {
            max-height: 0px;
        }

        to {
            max-height: 15em;
        }
    }
    @keyframes slidein {
        from {
            max-height: 0em;
        }

        to {
            max-height: 15em;
        }
    }
}

@media screen and (min-width: 800px) {
	.menu {
        display: none;
    }
    .ThreeBar{
        display: none;
    }
}


.PageLine{
    width:100%;
    height: 2px;
    background: rgb(0,0,0);
}

.Anchor{

	/* Nav Bar Height*/
	margin-top:-3.0em;

	display: block;
	position: absolute;
	width: 0;
	height: auto;
	z-index: -1;
	left: 0;
	visibility: hidden;

}

.PhotoLink{
    background: rgba(0,0,0,0.0);
    display: inline-block;
}
/*******************************************************************************
* * * * * * * * * * * * * * * * Title Section * * * * * * * * * * * * * * * * *
*******************************************************************************/
.TitleBlock{
	padding-left:15%;
	padding-right:15%;
    padding-top: 15%;
    background: rgba(43,43,43,1.0);
    height:auto;
    min-height: 100%;
    display: block;
}
.TitleContainer{   
    float: left;
    width: 50%;
}
.Title{
	color:rgb(255,255,255);
	font-family: "Arial";
	font-size:2.5em;
    margin-bottom: 1em;
}
.TitleRight{
    float: right;
    width: 30%;
    padding-left: 10%;
    height: 30%;
}
.TitleLogo{
    width:100%;
    height: 100%;
}
.SubTitleLeft{
	color:rgb(220,220,220);
	font-family: "Arial";
	font-size:1.6em;
    text-align: left;
     line-height: 1.5em;
}

@media screen and (max-width: 800px) {
    .TitleBlock{ 
        padding-left:3%;
        padding-right:3%;
        padding-bottom: 5%;
        display: block;
        height: auto;
        overflow: hidden;
    }
    .TitleContainer{ 
        float:left;
        width: 100%;
        padding-bottom: 5em;
    }
    .TitleRight{
        float:left;
        display: block;
        width:70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .TitleLogo{

    }
    
}
/*******************************************************************************
* * * * * * * * * * * * * * * * * Project Section * * * * * * * * * * * * * * *
*******************************************************************************/
.ProjectBlock{
    background: rgba(80,80,80,1.0);
    padding-left:15%;
	padding-right:15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ProjectTitle{
    font-family: "Arial";
    font-size: 2em;
    color:rgb(220,220,220);
    text-align: center;
    font-weight:600;
}

.ProjectSubTitle{
    font-family: "Arial";
    font-size: 1.5em;
    color:rgb(220,220,220);
    text-align: Left;
    font-weight:600;
}

.ProjectDescription{
    font-family: "Arial";
    font-size: 1.22em;
    color:rgb(200,200,200);
    line-height: 1.5em;
}
.ProjectDescriptionLink{
    font-family: "Arial";
    color:rgb(200,200,200);
    line-height: 1.2em;
}

.ProjectButtonContainer{
    text-align: center;
    overflow: hidden;
    
}
.ProjectButton{
    color: rgba(220,220,220,1.0);
    text-decoration: none;
    background: rgba(60,60,60,1.0);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-right: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
    float: left;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .ProjectBlock{ 
        padding-left:3%;
        padding-right:3%;
    }
}
/*******************************************************************************
* * * * * * * * * * * * * * * * * Team Section * * * * * * * * * * * * * * * * *
*******************************************************************************/
.TeamBlock{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    text-align: center;
    background: rgba(255,248,220, 1.0);
}
.TeamTitle{
    font-family: "Arial";
    font-size: 2em;
    color:rgb(20,20,20);
    font-weight:600;
}
.TeamMemberSection{
    display: inline;
    float: none;
}
.TeamMember{
    display: inline-block;
    float: none;
    margin: 2em;
    text-align: center;
}

.TeamPhoto{
    border-radius: 50%;
    width: 20%;
    min-width: 14em;
}
.TeamMemberDescript{
    
}
.TeamMemberName{
    color:rgb(40,40,40);
	font-family: "Arial";
	font-size:1.3em;
    font-weight: bold;
}
.TeamMemberInfo{
    color:rgb(60,60,60);
	font-family: "Arial";
	font-size:1.2em;
    line-height: 130%;
}
.MeetTeam{
    color:rgb(255,255,255);
    background-color: rgba(180, 0, 0, 1.0);
    font-family: "Arial";
    font-size:1.3em;
    font-weight: normal;
    line-height: 130%; 
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    
    display: inline-block;
}
@media screen and (max-width: 800px) {
    .TeamBlock{
	   padding-left: 3%;
        padding-right: 3%;
    }
}

/*******************************************************************************
* * * * * * * * * * * * * * * * Team Bio Section * * * * * * * * * * * * * * * *
*******************************************************************************/
.TeamBlock_Separate{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    text-align: center;
    background: rgba(255,248,220, 1.0);
}
.TeamBlock_SeparateTitle{
    font-family: "Arial";
    font-size: 2em;
    color:rgb(20,20,20);
    font-weight:600;
}
.TeamMember_Separate{
    display: inline-block;
    float: none;
    margin: 2em;
    text-align: center;
    margin-bottom: 3em;
}

.TeamMemberName_Separate{
    display: inline-block;
    float: none;
    margin: 1em;
    text-align: center;
    font-family: "Arial";
    font-size: 1.5em;
    font-weight: 600;
}

.TeamMemberBio{
    color:rgb(60,60,60);
	font-family: "Arial";
	font-size:1.2em;
    line-height: 130%;
    text-align: left;
}

.TeamPhotoLeft{
    border-radius: 50%;
    width: 20%;
    min-width: 14em;
}

.TeamPhotoRight{
    border-radius: 50%;
    width: 20%;
    min-width: 14em;
}

@media screen and (max-width: 800px) {
    .TeamBlock_Separate{
	   padding-left: 3%;
        padding-right: 3%;
    }
}

/*******************************************************************************
* * * * * * * * * * * * * * * * * Docs Section * * * * * * * * * * * * * * * * *
*******************************************************************************/
.DocsBlock{
    padding-left:15%;
    padding-right:15%;  
    padding-top: 2%;
    padding-bottom: 2%;
}
.DocsTitle{
    font-family: "Arial";
    font-size: 2em;
    color:rgb(20,20,20);
    text-align: center;
    font-weight:600;
}

.DocSection{
    font-family: "Arial";
    font-size: 1.5em;
    font-weight: 600;
    color:rgb(40,40,40);
    margin-bottom: 2em;
}
.Doc{

}

.DocDownload{
    color:rgb(255,255,255);
    background-color: rgba(180, 0, 0, 1.0);
    font-family: "Arial";
    font-size:0.8em;
    font-weight: normal;
    line-height: 130%; 
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    margin-left: 3em;
    display: inline-block;
}

.NoDoc{
    color:rgb(40,40,40);
    font-family: "Arial";
    font-size:0.8em;
    font-weight: normal;
    line-height: 130%; 
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    margin-left: 3em;
    display: block;
}

@media screen and (max-width: 800px) {
	.DocsBlock{
        padding-left:3%;
        padding-right:3%;
    }
}
/*******************************************************************************
* * * * * * * * * * * * * * * * * Contact Section * * * * * * * * * * * * * * * 
*******************************************************************************/
.ContactBlock{
    background: rgba(80,80,80,1.0);
    padding-left:15%;
	padding-right:15%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-width: 300px;
    
}
.ContactTitle{
    font-family: "Arial";
    font-size: 2em;
    text-align: center;
    font-weight:600;
    color: rgb(220,220,220);
}
.ContactBlockInputs{
	width:60%;
	overflow: hidden;
}

.ContactBlockLabel{
	text-align: left;
	color: rgb(200,200,200);
	font-family: "Arial";
	font-size:1.3em;
}

.ContactTextboxSmall{
	width: 60%;
	height:1.4em;
	font-family: "Arial";
	font-size:1.1em;
	border-radius:0.4em;
}
.ContactTextboxLarge{
	width: 100%;
	height:10em;
	font-family: "Arial";
	font-size:1.1em;
	border-radius:0.4em;
}

.ContactBlankField{
	display: none;
}

.ContactBlockReturnMessage{
	color: rgb(255,60,20);
	font-family: "Arial";
	font-size:1.5em;
	text-align:center;
	margin-top: 1em;
	margin-bottom: 1em;
}


input.RocketButton{
    margin-top: 1em;
    background: url("./images/icons/rocketnofire.png");
    background-repeat: no-repeat;
    background-size: 14em 6em;
    width: 14em;
    height: 6em;
    
    border: 0;
}

input.RocketButton:hover{
    background: url("./images/icons/rocketfire.png");
    background-repeat: no-repeat;
    background-size: 14em 6em;
    width: 14em;
    height: 6em;
    
    border: 0;
}

@media screen and (max-width: 800px) {
	.ContactBlock{
        padding-left:3%;
        padding-right:3%;
    }
}

/*******************************************************************************
* * * * * * * * * * * * * * * * * Footer Section * * * * * * * * * * * * * * * *
*******************************************************************************/
.FooterBlock{
    padding-top:2%;
    padding-bottom: 2%;
    background-color: rgba(43,43,43,1.0);
    text-align: center;
    
}
.SocialMediaLogo{
    width:3em;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
}
.Copyright{
    color: rgba(220,220,220,1.0);
    font-family: "Arial";
    padding-top: 1em;
}

/*******************************************************************************
* * * * * * * * * * * * * * * * * Preload Section * * * * * * * * * * * * * * * *
*******************************************************************************/

.PreloadRocketFire{ 
    background: url("./images/icons/rocketfire.png") no-repeat -9999px -9999px; 
}